@import "../../styles/themes.module.scss";

.membership {
  position: relative;
  background-color: $primaryWhiteSmokeAlpha80;

  .main {
    padding: 10px;
    box-sizing: border-box;
    min-height: calc(100vh - 60px - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

    .grid {
      width: 80%;
      max-width: 400px;

      .router {
        display: flex;

        .link {
          width: 50%;

          &:first-child {
            .button {
              border-top-left-radius: 4px;
            }
          }

          &:last-child {
            .button {
              border-top-right-radius: 4px;
            }
          }

          &.active {
            .button {
              background-color: $primarySilverAlpha20;
            }
          }

          .button {
            padding: 0;
            width: 100%;
            height: 40px;
            background-color: $primaryWhiteSmokeAlpha80;
            backdrop-filter: blur(4px);
            border: none;
            color: #000;
            font-size: 16px;
            letter-spacing: 1px;
            cursor: pointer;
            transition: 0.2s opacity, 0.2s background-color;

            &:hover {
              opacity: 0.8;
              background-color: $primaryPinkAlpha50;
            }
          }
        }
      }

      .form {
        width: 100%;
        background-color: $primarySilverAlpha20;
        backdrop-filter: blur(4px);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
