@import "../../../../styles/themes.module.scss";

.headerNavItemWithLayers {
  position: relative;
  list-style: none;

  &__link {
    padding: 0 20px;
    height: 40px;
    background-color: $primarySilverAlpha20;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s background-color;

    &:hover {
      background-color: $primaryPinkAlpha50;
    }

    .headerNavItemWithLayers__text {
      color: #000;
      font-size: 16px;
      letter-spacing: 1px;
      white-space: nowrap;
    }

    .headerNavItemWithLayers__svgBox {
      width: 16px;
      height: 16px;

      .headerNavItemWithLayers__svg {
        width: 100%;
        height: 100%;
        fill: #000;
        transition: 0.2s transform;
      }
    }

    &--active {
      background-color: $primaryYellowAlpha50;

      .headerNavItemWithLayers__svgBox {
        .headerNavItemWithLayers__svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
