.sidebarNavGrandItem {
  position: relative;
  width: 100%;
  list-style: none;

  .grandHref {
    text-decoration: none;

    &.active {
      .grandLink {
        background: rgba(0, 145, 219, 1);

        .grandText {
          color: #fff;
        }
      }
    }
  }

  .grandLink {
    padding: 0 10px;
    height: 40px;
    background: rgba(192, 192, 192, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

    &:hover {
      background: rgba(228, 2, 127, 1);
    }

    .grandText {
      color: #000;
      font: normal normal 16px / normal sans-serif;
      letter-spacing: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      direction: ltr;
      transition: 0.2s;
    }
  }
}
