.SidebarNavGrandItem {
    position: relative;
    width: 100%;
    list-style: none;

    .grandHref {
        text-decoration: none;

        &.active {
            .grandLink {
                background: burlywood;
            }
        }
    }

    .grandLink {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(91, 168, 142);

        &:hover {
            background: salmon;
        }

        .grandText {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            letter-spacing: 1px;
        }
    }
}