@mixin desktop {
    @media(max-width: 768px) {
        @content;
    }
}

.HeaderNavItem {
    position: relative;
    list-style: none;

    .href {
        text-decoration: none;

        &.active {
            .link {
                background: cornflowerblue;
            }
        }
    }

    .link {
        padding: 0 20px;
        height: 40px;
        background: cornsilk;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;

        &.active {
            background: salmon;

            .angle-down {
                transform: rotate(180deg);
            }
        }

        &:hover {
            background: salmon;
        }

        .text {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            white-space: nowrap;
            // transition: 0.2s;
        }

        .angle-down {
            width: 16px;
            height: 16px;
            transition: 0.2s;

            path {
                pointer-events: none;
            }
        }
    }
}