@mixin desktop {
    @media(max-width: 768px) {
        @content;
    }
}

.HeaderNavItem {
    position: relative;
    list-style: none;

    &:hover {
        .link {
            .angle-down {
                transform: rotate(180deg);
            }
        }

        .subMenu {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .link {
        padding: 0 20px;
        height: 40px;
        background: cornsilk;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;

        @include desktop {
            width: 100%;
            height: 40px;
        }

        &:hover {
            background: salmon;
        }

        &.active {
            background: cornflowerblue;
        }

        .angle-down {
            width: 16px;
            height: 16px;
            transition: 0.2s;

            path {
                pointer-events: none;
            }
        }

        .text {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            letter-spacing: 1px;
            transition: 0.2s;
        }
    }

    // .subMenu {
    //     position: absolute;
    //     margin: 0;
    //     padding: 0;
    //     left: 0;
    //     width: 100%;
    //     background: cornsilk;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     opacity: 0;
    //     pointer-events: none;
    //     transition: 0.2s;
    // }
}