.Commodity {
    position: relative;
    padding: 0 10px 10px 10px;

    .router {
        display: flex;


        .link {
            overflow: hidden;

            &:first-child {
                border-top-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
            }

            &.active {
                .button {
                    background: coral;
                }
            }

            .button {
                padding: 0;
                width: 100px;
                height: 40px;
                background: #efefef;
                border: none;
                cursor: pointer;
            }
        }
    }
}