@import "../../styles/keyframes.module.scss";
@import "../../styles/themes.module.scss";

.loader {
  position: relative;
  width: 40px;
  height: 20px;

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background-color: $primaryBlue;
    border-radius: 50%;
    animation: loading1 ease-in-out 1s infinite;

    @include keyframes-animation(loading1) {
      0%,
      100% {
        transform: translateX(0);
      }

      50% {
        transform: translateX(20px);
      }
    }

    &:last-child {
      left: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      animation: loading2 ease-in-out 1s infinite -0.5s;

      @include keyframes-animation(loading2) {
        0%,
        100% {
          transform: translateX(-20px);
        }

        50% {
          transform: translateX(0);
        }
      }
    }
  }
}
