@import "../../../../styles/themes.module.scss";

.sidebarNavItemWithoutLayers {
  position: relative;
  width: 100%;
  list-style: none;

  &__href {
    text-decoration: none;

    .sidebarNavItemWithoutLayers__link {
      padding: 0 20px;
      height: 40px;
      background-color: $primarySilverAlpha20;
      backdrop-filter: blur(4px);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition: 0.2s background-color;

      &:hover {
        background-color: $primaryPinkAlpha50;
      }

      .sidebarNavItemWithoutLayers__text {
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: ltr;
        transition: 0.2s color;
      }
    }

    &--active {
      .sidebarNavItemWithoutLayers__link {
        background-color: $primaryBlueAlpha50;

        .sidebarNavItemWithoutLayers__text {
          color: #fff;
        }
      }
    }
  }
}
