.sidebarNavItemWithoutLayers {
  position: relative;
  width: 100%;
  list-style: none;

  &__href {
    text-decoration: none;

    .sidebarNavItemWithoutLayers__link {
      padding: 0 20px;
      height: 40px;
      background-color: rgba(192, 192, 192, 0.2);
      backdrop-filter: blur(4px);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: rgba(228, 2, 127, 0.5);
      }

      .sidebarNavItemWithoutLayers__text {
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: ltr;
        transition: 0.2s;
      }
    }

    &--active {
      .sidebarNavItemWithoutLayers__link {
        background-color: rgba(0, 145, 219, 0.5);

        .sidebarNavItemWithoutLayers__text {
          color: #fff;
        }
      }
    }
  }
}
