$breakpoints: (
  // xs: 0,
  others: 320px,
  sm: 576px,
  md: 768px,
  // lg: 992px,
  xl: 1200px,
  // xxl: 1400px,
);

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

.link {
  text-decoration: none;

  .productsCard {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(245, 245, 245, 0.8);
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid rgba(245, 245, 245, 0.8);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      .productsCard__ribbon {
        opacity: 1;
        pointer-events: auto;
      }

      .productsCard__imgBox {
        margin: 10px;
        border: 1px solid rgba(0, 145, 219, 0.5);
        border-radius: 4px;

        .productsCard__image {
          transform: scale(1.2);
        }
      }

      .productsCard__footer {
        .productsCard__content {
          opacity: 0.8;
        }
      }
    }

    .productsCard__ribbon {
      position: absolute;
      top: -5px;
      left: -5px;
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s opacity, 0.2s pointer-events;

      &::before {
        position: absolute;
        content: "瀏覽規格";
        width: 150%;
        height: 40px;
        background: linear-gradient(
          90deg,
          rgba(228, 2, 126, 0.8),
          rgba(0, 145, 219, 0.8),
          rgba(228, 2, 126, 0.8)
        );
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border: 2px solid #fff;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-45deg) translateY(-20px);
      }

      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        background-color: #0091db;
        filter: blur(4px);
        box-shadow: 115px -115px 4px #0091db;
        z-index: -1;
        // 120px - 5px
      }
    }

    .productsCard__imgBox {
      position: relative;
      border: 0px solid transparent;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: 0.2s margin, 0.2s border, 0.2s border-radius;

      .productsCard__image {
        display: block;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        transition: 0.2s transform;
      }
    }

    .productsCard__footer {
      padding: 10px;
      background-color: rgba(192, 192, 192, 0.2);
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;

      .productsCard__content {
        padding: 10px;
        background-color: #e4027f;
        border-radius: 4px;
        transition: 0.2s opacity;

        &Text {
          margin: 0;
          text-align: center;
          color: #fff;
          font-size: 16px;
          line-height: 20px;
          font-family: sans-serif;
          letter-spacing: 1px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          direction: ltr;
        }
      }
    }
  }
}
