.Register {
    padding: 5px;

    .name {
        display: flex;

        .lastName {
            margin: 5px;
            padding: 0;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 4px;
            outline: none;

            &::placeholder {
                padding: 0 0 0 10px;
            }
        }

        .firstName {
            margin: 5px;
            padding: 0;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 4px;
            outline: none;

            &::placeholder {
                padding: 0 0 0 10px;
            }
        }
    }

    .privacy {
        display: flex;

        .gender {
            margin: 5px;
            padding: 0;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 4px;
            outline: none;

            &::placeholder {
                padding: 0 0 0 10px;
            }
        }

        .birthday {
            margin: 5px;
            padding: 0;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 4px;
            outline: none;

            &::placeholder {
                padding: 0 0 0 10px;
            }
        }
    }

    .information {
        padding: 0 5px;
        display: flex;
        flex-direction: column;

        .email {
            margin: 5px 0;
            padding: 0;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 4px;
            outline: none;

            &::placeholder {
                padding: 0 0 0 10px;
            }
        }

        .password {
            margin: 5px 0;
            padding: 0;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 4px;
            outline: none;

            &::placeholder {
                padding: 0 0 0 10px;
            }
        }
    }

    .registerContainer {
        padding: 5px;
        border-radius: 4px;

        .registerButton {
            padding: 0;
            width: 100%;
            height: 40px;
            color: #fff;
            background: #E4027D;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}