@import "../../styles/themes.module.scss";

.cartbarContent {
  padding: 10px;
  background-color: $primarySilverAlpha20;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
