.Forget {
  position: relative;
  padding: 5px;

  .inputBox {
    position: relative;
    margin: 0 5px;
    padding: 5px 0;

    .input {
      padding: 0 10px;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      background: #fff;
      border: none;
      border-radius: 4px;
      outline: none;

      &:valid,
      &:focus {
        ~ .text {
          padding: 0 4px;
          line-height: 20px;
          background: #fff;
          border-radius: 2px;
          color: #e4027f;
          font: normal normal 12px / normal sans-serif;
          letter-spacing: 1px;
          transform: translate(10px, -10px);
        }
      }
    }

    .text {
      position: absolute;
      padding: 0 10px;
      left: 0;
      line-height: 40px;
      background: transparent;
      border-radius: 4px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      transition: 0.2s;
      pointer-events: none;
    }

    .svg {
      position: absolute;
      padding: 0 10px;
      right: 0;
      width: 20px;
      height: 40px;
      background: #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      fill: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      &.active {
        fill: #000;
      }

      path {
        pointer-events: none;
      }
    }
  }

  .alert {
    margin: 0 5px;
    padding: 0 10px;

    .text {
      margin: 0;
      color: red;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }

  .register {
    margin: 0 5px;
    padding: 5px 0;

    .button {
      padding: 0;
      width: 100%;
      height: 40px;
      background: #e4027f;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 0.8;
      }

      .text {
        color: #fff;
        font: normal normal 16px/40px sans-serif;
        letter-spacing: 1px;
      }
    }
  }
}
