@mixin desktop {
    @media(max-width:768px) {
        @content;
    }
}

.navbarItem {
    position: relative;

    .item {
        list-style: none;

        &:hover {
            .link {
                .text {
                    transform: scale(1.1);
                }
            }

            .caret-down {
                transform: rotate(180deg);
            }

            .subMenu {
                opacity: 1;
                pointer-events: auto;
                // transform: translateY(10px);
            }
        }

        @include desktop {
            &:hover {
                .caret-down {
                    transform: rotate(0deg);
                }

                .subMenu {
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            &.active {

                .caret-down {
                    transform: rotate(180deg);
                }

                .subMenu {
                    height: 0;
                }
            }
        }

        .link {
            width: 100px;
            height: 40px;
            background: cornsilk;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            @include desktop {
                width: 100%;
                height: 80px;
                border-radius: 0;
            }

            &:hover {
                background: salmon;
            }

            .text {
                font-size: 16px;
                font-weight: 400;
                color: #000;
                letter-spacing: 1px;
                transition: 0.2s;
            }
        }

        .caret-down {
            width: 24px;
            height: 24px;
            transition: 0.2s;

            path {
                pointer-events: none;
            }
        }

        .subMenu {
            position: absolute;
            margin: 0;
            padding: 0;
            opacity: 0;
            pointer-events: none;
            transition: 0.2s;

            @include desktop {
                position: relative;
                height: calc(var(--x) * 80px);
                opacity: 1;
                pointer-events: auto;
                overflow: hidden;
            }

            .subItem {
                list-style: none;

                .subLink {
                    width: 100px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    background: rgb(91, 168, 142);

                    @include desktop {
                        width: 100%;
                        height: 80px;
                    }

                    &:hover {
                        background: salmon;
                    }
                }
            }
        }
    }
}