@import "../../styles/breakpoints.module.scss";

.headerNavMenu {
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 4px;
  overflow: hidden;

  @include respond-to(md) {
    display: none;
  }
}
