$primaryBlue: #0091db;
$primaryBlueAlpha50: rgba(0, 145, 219, 0.5);
$primaryBlueAlpha80: rgba(0, 145, 219, 0.8);

$primaryPink: #e4027f;
$primaryPinkAlpha50: rgba(228, 2, 126, 0.5);
$primaryPinkAlpha80: rgba(228, 2, 126, 0.8);

$primaryYellow: #ffe10a;
$primaryYellowAlpha50: rgba(255, 225, 10, 0.5);
$primaryYellowAlpha80: rgba(255, 225, 10, 0.8);

$primaryWhiteSmoke: #f5f5f5;
// $primaryWhiteSmokeAlpha20: rgba(245, 245, 245, 0.2);
$primaryWhiteSmokeAlpha80: rgba(245, 245, 245, 0.8);

$primarySilver: #c0c0c0;
$primarySilverAlpha20: rgba(192, 192, 192, 0.2);
$primarySilverAlpha50: rgba(192, 192, 192, 0.5);
$primarySilverAlpha80: rgba(192, 192, 192, 0.8);
