@import "../../../styles/themes.module.scss";

.commodity {
  position: relative;

  &__buttonGroup {
    display: flex;

    .commodity__button {
      padding: 0;
      width: 100px;
      height: 40px;
      background: $primaryWhiteSmokeAlpha80;
      border: none;
      color: #000;
      font-size: 16px;
      font-family: sans-serif;
      cursor: pointer;
      transition: 0.2s;

      &:first-child {
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }

      &.active {
        background: $primarySilverAlpha20;
      }

      &:hover {
        background: $primaryPinkAlpha50;
      }
    }
  }
}
