.Commodity {
    position: relative;
    padding: 0 10px 10px 10px;

    .router {
        display: flex;

        .link {
            overflow: hidden;

            &:first-child {
                .button {
                    border-top-left-radius: 4px;
                }
            }

            &:last-child {
                .button {
                    border-top-right-radius: 4px;
                }
            }

            &:hover {
                .button {
                    background: rgba(228, 2, 126, 0.5)
                }
            }

            &.active {
                .button {
                    background: rgba(192, 192, 192, 0.2);
                }
            }

            .button {
                padding: 0;
                width: 100px;
                height: 40px;
                background: rgba(245, 245, 245, 0.8);
                border: none;
                color: #000;
                font: normal normal 16px/normal sans-serif;
                cursor: pointer;
                transition: 0.2s;
            }
        }
    }
}