$breakpoints: (
  // xs: 0,
  // sm: 576px,
  // md: 768px,
  // lg: 992px,
  xl: 1200px,
  // xxl: 1400px,
);

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

.home {
  position: relative;
  background: rgba(245, 245, 245, 0.8);

  &__main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .home__grid {
      width: 80%;

      @include respond-to(xl) {
        width: 100%;
      }
    }
  }
}
