@import "../../../styles/themes.module.scss";

.purchase {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden auto;
  scroll-behavior: smooth;

  &__footer {
    position: sticky;
    bottom: -10px;
    width: 100%;
    background-color: $primaryWhiteSmokeAlpha80;
    backdrop-filter: blur(4px);
    z-index: 1;

    .purchase__total {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &Text {
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 1px;
        border-radius: 2px;
        white-space: nowrap;
      }

      .purchase__sum {
        color: #000;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
      }

      .purchase__rebate {
        padding: 0 5px;
        color: #fff;
        line-height: 20px;
        background-color: $primaryBlue;
      }

      .purchase__fee {
        padding: 0 5px;
        color: #fff;
        line-height: 20px;
        background-color: $primaryPink;
      }
    }
  }
}
