.Arrangement {
    position: relative;
    margin: 10px 0;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background: cadetblue;

    .box {
        position: relative;
        display: flex;
        align-items: center;

        .text {
            white-space: nowrap;
        }

        .select {
            padding: 0 10px;
            width: 150px;
            height: 30px;
            border: none;
            border-radius: 4px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;

            &:hover {
                &~.svg {
                    transform: rotate(180deg);
                }
            }
        }

        .svg {
            position: absolute;
            margin: 0 5px;
            right: 0;
            width: 15px;
            height: 15px;
            fill: #000;
            pointer-events: none;
            transition: 0.2s;

            path {
                pointer-events: none;
            }
        }
    }
}