@import "../../styles/breakpoints.module.scss";

.arrangement {
  position: relative;
  display: flex;

  @include respond-to(others) {
    overflow: auto hidden;
  }

  &__anchorPoint {
    position: absolute;
    top: -60px;
  }

  &__box {
    padding: 0 10px;
    height: 40px;
    background: rgba(198, 198, 198, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    display: flex;
    align-items: center;

    .arrangement__text {
      font-size: 16px;
      font-family: sans-serif;
      white-space: nowrap;
    }

    .arrangement__content {
      position: relative;
      display: flex;
      align-items: center;

      .arrangement__select {
        padding: 0 10px;
        width: 150px;
        height: 30px;
        background: #fff;
        border: none;
        border-radius: 4px;
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        cursor: pointer;

        &:hover {
          & ~ .arrangement__svgBox {
            .arrangement__svg {
              transform: rotate(180deg);
            }
          }
        }
      }

      .arrangement__svgBox {
        position: absolute;
        margin: 0 5px;
        right: 0;
        width: 15px;
        height: 15px;
        pointer-events: none;

        .arrangement__svg {
          display: block;
          width: 100%;
          height: 100%;
          fill: #000;
          transition: 0.2s;
        }
      }
    }
  }
}
