@import "../../styles/breakpoints.module.scss";
@import "../../styles/themes.module.scss";

.arrangement {
  position: relative;
  display: flex;

  &__anchorPoint {
    position: absolute;
    top: -60px;
  }

  &__box {
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    background-color: $primarySilverAlpha20;
    backdrop-filter: blur(4px);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;

    .arrangement__text {
      line-height: 40px;
      white-space: nowrap;
    }

    .arrangement__content {
      position: relative;
      flex: 1;
      min-width: 180px;
      display: flex;
      align-items: center;

      .arrangement__select {
        padding: 0 10px;
        width: 100%;
        height: 40px;
        background-color: #fff;
        border: none;
        border-radius: 4px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .arrangement__angleDown {
          width: 15px;
          height: 15px;
          transition: transform 0.2s ease-in-out;

          &.open {
            transform: rotate(180deg);
          }
        }
      }

      .arrangement__options {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        list-style: none;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;

        &.open {
          opacity: 1;
          pointer-events: auto;
        }

        .arrangement__option {
          padding: 0 10px;
          line-height: 40px;
          cursor: pointer;

          &:hover {
            background-color: $primaryWhiteSmoke;
          }
        }
      }
    }
  }
}
