.Arrangement {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;

    .box {
        padding: 0 10px;
        height: 40px;
        display: flex;
        align-items: center;
        background: #efefef;
        border-radius: 4px;

        .text {
            white-space: nowrap;
        }

        .content {
            position: relative;
            display: flex;
            align-items: center;

            .select {
                padding: 0 10px;
                width: 150px;
                height: 30px;
                border: none;
                border-radius: 4px;
                color: #000;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                outline: none;
                cursor: pointer;

                &:hover {
                    &~.svg {
                        transform: rotate(180deg);
                    }
                }
            }

            .svg {
                position: absolute;
                margin: 0 5px;
                right: 0;
                width: 15px;
                height: 15px;
                fill: #000;
                pointer-events: none;
                transition: 0.2s;

                path {
                    pointer-events: none;
                }
            }
        }
    }
}