.HeaderNavSubMenu {
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(228, 2, 126, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}