@import "../../../styles/breakpoints.module.scss";

.gallery {
  position: relative;
  display: flex;
  gap: 10px;

  @include respond-to(md) {
    flex-direction: column;
  }

  &__box {
    width: 50%;
    display: flex;
    overflow: hidden;

    @include respond-to(md) {
      width: 100%;
    }
  }
}
