@mixin desktop {
  @media (max-width: 768px) {
    @content;
  }
}

.Gallery {
  position: relative;
  display: flex;
  gap: 10px;

  @include desktop {
    flex-direction: column;
  }

  .box {
    width: 50%;
    display: flex;
    overflow: hidden;

    @include desktop {
      width: 100%;
    }
  }
}
