@mixin screen {
    @media(max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media(max-width: 768px) {
        @content;
    }
}

@mixin pad {
    @media(max-width: 576px) {
        @content;
    }
}

@mixin others {
    @media(max-width: 320px) {
        @content;
    }
}

.Product {
    position: relative;
    display: flex;
    justify-content: center;

    .grid {
        padding: 0;
        width: 80%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(6, 1fr);

        @include screen() {
            padding: 10px;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
        }

        @include desktop() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include pad() {
            grid-template-columns: repeat(2, 1fr);
        }

        @include others() {
            grid-template-columns: repeat(1, 1fr);
        }

        .link {
            text-decoration: none;
            background: #efefef;
            border-top: 1px solid #efefef;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #efefef;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            overflow: hidden;

            .card {
                padding: 0;
                width: 100%;
                border: none;
                cursor: pointer;

                &:hover {
                    .box {
                        margin: 10px;
                        border-radius: 4px;

                        .photo {
                            transform: scale(1.2);
                        }
                    }
                }

                .box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    transition: 0.2s;

                    .photo {
                        display: block;
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        transition: 0.2s;
                    }
                }

                .name {
                    padding: 0 10px;
                    background: salmon;
                    color: #000;
                    font: normal normal 16px/40px sans-serif;
                    text-align: center;
                    letter-spacing: 1px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .price {
                    padding: 0 10px;
                    background: bisque;
                    color: #000;
                    font: normal normal 16px/40px sans-serif;
                    text-align: center;
                    letter-spacing: 1px;
                }
            }
        }
    }
}