@mixin screen {
    @media(max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media(max-width: 768px) {
        @content;
    }
}

@mixin pad {
    @media(max-width: 576px) {
        @content;
    }
}

@mixin others {
    @media(max-width: 320px) {
        @content;
    }
}

.Product {
    position: relative;
    display: flex;
    justify-content: center;

    .grid {
        padding: 0;
        width: 80%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(6, 1fr);

        @include screen() {
            padding: 0 10px;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
        }

        @include desktop() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include pad() {
            grid-template-columns: repeat(2, 1fr);
        }

        @include others() {
            grid-template-columns: repeat(1, 1fr);
        }

        .card {
            background: #efefef;
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                padding: 10px;

                .link {
                    .box {
                        .photo {
                            transform: scale(1.2);
                        }
                    }
                }
            }

            .link {
                text-decoration: none;

                .box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    transition: 0.2s;

                    .photo {
                        display: block;
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        transition: 0.2s;
                    }
                }

                .name {
                    padding: 0 10px;
                    background: salmon;
                    color: #000;
                    font: normal normal 16px/40px sans-serif;
                    text-align: center;
                    letter-spacing: 1px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .price {
                    padding: 0 10px;
                    background: bisque;
                    color: #000;
                    font: normal normal 16px/40px sans-serif;
                    text-align: center;
                    letter-spacing: 1px;
                }
            }
        }
    }
}