@mixin desktop {
    @media(max-width:768px) {
        @content;
    }
}

.HeaderNav {

    .menu {
        margin: 0;
        padding: 0;
        display: flex;

        @include desktop {
            display: none;
        }
    }
}