@mixin desktop {
  @media (max-width: 768px) {
    @content;
  }
}

.HeaderNav {
  display: block;

  @include desktop {
    display: none;
  }

  .menu {
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
  }
}
