@mixin iphone {
  @media (max-width: 414px) {
    @content;
  }
}

.Header {
  position: sticky;
  padding: 0 10px;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  background: rgba(245, 245, 245, 0.8);
  backdrop-filter: blur(4px);
  z-index: 2;

  @include iphone() {
    overflow: auto hidden;
  }

  .box {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .link {
      text-decoration: none;
    }

    .content {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
      z-index: 2;
    }

    .space {
      width: 100%;
      height: 10px;
      text-align: center;
    }
  }
}
