@mixin desktop {
    @media(max-width:768px) {
        @content;
    }
}

.Gallery {
    position: relative;
    display: flex;
    flex-direction: row;

    @include desktop {
        flex-direction: column;
    }

    .box {
        width: 50%;
        display: flex;
        justify-content: center;
        align-content: center;

        @include desktop {
            width: 100%;
        }
    }
}