@mixin screen {
    @media(max-width: 1200px) {
        @content;
    }
}

.Find {
    position: relative;
    background: rgba(245, 245, 245, 0.8);

    .main {
        padding: 10px;
        box-sizing: border-box;
        min-height: calc(100vh - 60px - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .title {
            width: 100%;
            color: #000;
            text-align: center;
            font: normal normal normal/normal sans-serif;
            letter-spacing: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
            direction: ltr;
        }

        .grid {
            width: 80%;

            @include screen() {
                width: 100%;
            }
        }
    }
}