.SidebarNavItem {
    position: relative;
    width: 100%;
    list-style: none;

    &.active {
        .link {
            background: rgba(255, 225, 10, 0.5);

            .svg {
                transform: rotate(180deg);
            }
        }

        .subMenu {
            height: calc(var(--x) * 40px);
        }
    }

    .href {
        text-decoration: none;

        &.active {
            .link {
                background: rgba(0, 145, 219, 0.5);

                .text {
                    color: #fff;
                }
            }
        }
    }

    .link {
        padding: 0 20px;
        height: 40px;
        background: rgba(192, 192, 192, 0.2);
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;

        &.active {
            justify-content: space-between;
        }

        &:hover {
            background: rgba(228, 2, 127, 0.5);
        }

        .svg {
            width: 16px;
            height: 16px;
            fill: #000;
            transition: 0.2s;
            pointer-events: none;

            path {
                pointer-events: none;
            }
        }

        .text {
            color: #000;
            font: normal normal 16px/normal sans-serif;
            letter-spacing: 1px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            direction: ltr;
            transition: 0.2s;
        }
    }

    .subMenu {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: 0.2s;
    }
}