.sidebarNavItem {
  position: relative;
  width: 100%;
  list-style: none;

  &__href {
    text-decoration: none;

    &--active {
      .sidebarNavItem__link {
        background-color: rgba(0, 145, 219, 0.5);

        .sidebarNavItem__text {
          color: #fff;
        }
      }
    }
  }

  &--active {
    .sidebarNavItem__link--active {
      background-color: rgba(255, 225, 10, 0.5);

      .sidebarNavItem__svgBox {
        .sidebarNavItem__svg {
          transform: rotate(180deg);
        }
      }
    }

    .sidebarNavItem__subMenu {
      height: calc(var(--x) * 40px);
    }
  }

  &__link {
    padding: 0 20px;
    height: 40px;
    background-color: rgba(192, 192, 192, 0.2);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;

    &--active {
      justify-content: space-between;

      .sidebarNavItem__svgBox {
        width: 16px;
        height: 16px;

        .sidebarNavItem__svg {
          width: 100%;
          height: 100%;
          transition: 0.2s;
        }
      }
    }

    &:hover {
      background: rgba(228, 2, 127, 0.5);
    }

    .sidebarNavItem__text {
      color: #000;
      font-size: 16px;
      font-family: sans-serif;
      letter-spacing: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      direction: ltr;
      transition: 0.2s;
    }
  }

  &__subMenu {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 0.2s;
  }
}
