@mixin desktop {
    @media(max-width:768px) {
        @content;
    }
}

// @mixin mobile {
//     @media(max-width:414px) {
//         @content;
//     }
// }

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #0091DB;
    transition: 0.2s;
    z-index: 3;
    display: none;

    @include desktop {
        display: block;
    }

    &.active {
        left: 0;
    }

    .landscape {
        height: 120px;

        .close {
            position: absolute;
            top: 25px;
            right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                opacity: 0.8;

                .xmark {
                    fill: #E4027D;
                }
            }

            .xmark {
                width: 20px;
                height: 20px;
                transition: 0.2s;

                path {
                    pointer-events: none;
                }
            }
        }
    }
}