@mixin desktop {
    @media(max-width:768px) {
        @content;
    }
}

@mixin keyframes-animation($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin prefix-property($name, $value) {
    -webkit-#{$name}: $value;
    #{$name}: $value;
}

.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 4;
    transition: 0.2s;
    display: none;

    @include desktop {
        display: block;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;

            .box {
                .landscape {
                    img {
                        animation: 0.8s linear 0s 1 normal none running rubberBand;
                    }

                    @include keyframes-animation(rubberBand) {
                        0% {
                            @include prefix-property(transform, scale3d(1, 1, 1));
                        }

                        30% {
                            @include prefix-property(transform, scale3d(1.25, 0.75, 1));
                        }

                        40% {
                            @include prefix-property(transform, scale3d(0.75, 1.25, 1));
                        }

                        50% {
                            @include prefix-property(transform, scale3d(1.15, 0.85, 1));
                        }

                        65% {
                            @include prefix-property(transform, scale3d(0.95, 1.05, 1));
                        }

                        75% {
                            @include prefix-property(transform, scale3d(1.05, 0.95, 1));
                        }

                        100% {
                            @include prefix-property(transform, scale3d(1, 1, 1));
                        }
                    }
                }
            }
        }
    }

    .box {
        width: 300px;
        height: 100%;
        background: rgba(245, 245, 245, 0.8);
        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;
        overflow: hidden auto;
        scroll-behavior: smooth;

        .landscape {
            width: 100%;
            height: 225px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;
                transition: 0.2s;
                pointer-events: none
            }
        }
    }
}