$breakpoints: (
  // xs: 0,
  // sm: 576px,
  md: 768px,
  // lg: 992px,
  // xl: 1200px,
  // xxl: 1400px,
);

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin keyframes-animation($name) {
  @keyframes #{$name} {
    @content;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 3;

  @include respond-to(md) {
    display: block;
   
    &--active {
      opacity: 1;
      pointer-events: auto;

      .sidebar__box {
        .sidebar__landscape {
          .sidebar__image {
            animation: 0.8s linear running rubberBand;
          }

          @include keyframes-animation(rubberBand) {
            0% {
              transform: scale3d(1, 1, 1);
            }

            30% {
              transform: scale3d(1.25, 0.75, 1);
            }

            40% {
              transform: scale3d(0.75, 1.25, 1);
            }

            50% {
              transform: scale3d(1.15, 0.85, 1);
            }

            65% {
              transform: scale3d(0.95, 1.05, 1);
            }

            75% {
              transform: scale3d(1.05, 0.95, 1);
            }

            100% {
              transform: scale3d(1, 1, 1);
            }
          }
        }
      }
    }
  }

  &__box {
    width: 300px;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    scroll-behavior: smooth;

    .sidebar__landscape {
      width: 100%;
      height: 225px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .sidebar__image {
          transform: scale(1.1);
        }
      }

      .sidebar__image {
        display: block;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
        transition: 0.2s;
        pointer-events: none;
      }
    }
  }
}
