@mixin screen {
    @media(max-width: 1200px) {
        @content;
    }
}

.Detail {
    position: relative;
    background: rgba(245, 245, 245, 0.8);

    .main {
        padding: 10px;
        box-sizing: border-box;
        min-height: calc(100vh - 60px - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .grid {
            width: 80%;

            @include screen() {
                width: 100%;
            }
        }
    }
}