@import "../../styles/themes.module.scss";

.cartbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 4;

  &--active {
    opacity: 1;
    pointer-events: auto;
  }

  &__box {
    width: 300px;
    height: 100%;
    background-color: $primaryWhiteSmokeAlpha80;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    scroll-behavior: smooth;

    .cartbar__title {
      padding: 0 20px;
      color: #000;
      font-family: sans-serif;
      letter-spacing: 1px;
    }

    .cartbar__emptyText {
      margin: 0;
      padding: 0 20px;
      color: #000;
      font-size: 16px;
      line-height: 40px;
      font-family: sans-serif;
      letter-spacing: 1px;
    }
  }
}
