@mixin others {
  @media (max-width: 320px) {
    @content;
  }
}

.socialMedia {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .buttonBox {
    position: relative;
  }

  .alert {
    margin: 0;
    color: red;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
}
