@import "../../../../../../../../../styles/themes.module.scss";

.sidebarNavGrandItem {
  position: relative;
  width: 100%;
  list-style: none;

  &__grandHref {
    text-decoration: none;

    .sidebarNavGrandItem__grandLink {
      padding: 0 10px;
      height: 40px;
      background-color: $primarySilverAlpha80;
      backdrop-filter: blur(4px);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s background-color;

      &:hover {
        background-color: $primaryPink;
      }

      .sidebarNavGrandItem__grandText {
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: ltr;
        transition: 0.2s color;
      }
    }

    &--active {
      .sidebarNavGrandItem__grandLink {
        background-color: $primaryBlue;

        .sidebarNavGrandItem__grandText {
          color: #fff;
        }
      }
    }
  }
}
