@mixin screen {
  @media (max-width: 1200px) {
    @content;
  }
}

.Story {
  position: relative;
  background: rgba(245, 245, 245, 0.8);

  .main {
    padding: 10px;
    box-sizing: border-box;
    min-height: calc(100vh - 60px - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .grid {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include screen() {
        width: 100%;
      }

      .text {
        color: #000;
        font: normal normal 16px / normal sans-serif;
        letter-spacing: 1px;
      }

      .picture {
        margin: 10px;
        padding: 10px;
        width: calc(100% / 3);

        .image {
          width: 100%;
          border-radius: 50%;
        }
      }

      .phrase {
        margin: 0px 0 40px 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
      }

      .highlights {
        margin: 10px;
        padding: 0 5px;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
      }

      .narration {
        margin: 0 0 40px 0;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .text {
          line-height: 40px;
        }
      }
    }
  }
}
