@mixin desktop {
    @media(max-width:768px) {
        @content;
    }
}

.HeaderNavSubItem {
    position: relative;
    list-style: none;
    background: cadetblue;

    .subLink {
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background: rgb(91, 168, 142);

        @include desktop {
            width: 100%;
            height: 40px;
        }

        &:hover {
            background: salmon;
        }

        &.active {
            background: burlywood;
        }

        .subText {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            letter-spacing: 1px;
        }
    }
}