@import "../../../../../../../styles/themes.module.scss";

.sidebarNavSubItemWithoutSubLayers {
  position: relative;
  width: 100%;
  list-style: none;

  &__subHref {
    text-decoration: none;

    .sidebarNavSubItemWithoutSubLayers__subLink {
      padding: 0 40px;
      height: 40px;
      background-color: $primarySilverAlpha50;
      backdrop-filter: blur(4px);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition: 0.2s background-color;

      &:hover {
        background-color: $primaryPinkAlpha80;
      }

      .sidebarNavSubItemWithoutSubLayers__subText {
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: ltr;
        transition: 0.2s color;
      }
    }

    &--active {
      .sidebarNavSubItemWithoutSubLayers__subLink {
        background-color: $primaryBlueAlpha80;

        .sidebarNavSubItemWithoutSubLayers__subText {
          color: #fff;
        }
      }
    }
  }
}
