@mixin desktop {
    @media(max-width: 768px) {
        @content;
    }
}

.Banner {
    position: relative;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 60px - 30px - 30px);
    background: #000;

    @include desktop() {
        max-height: calc(100vh - 60px - 20px - 20px);
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            max-height: calc(100vh - 60px - 30px - 30px);
            object-fit: cover;

            @include desktop() {
                max-height: calc(100vh - 60px - 20px - 20px);
            }
        }
    }

    .swiper-pagination {
        position: absolute;
        bottom: 0;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;

        .swiper-pagination-bullet {
            background: #0091DB;
            border: 1px solid #eee;
            pointer-events: auto;
        }

        .swiper-pagination-bullet-active {
            background: #E4027E;
        }
    }
}