@import "../../../../styles/themes.module.scss";

.sidebarNavItemWithLayers {
  position: relative;
  width: 100%;
  list-style: none;

  &__link--active {
    padding: 0 20px;
    height: 40px;
    background-color: $primarySilverAlpha20;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s background-color;

    &:hover {
      background-color: $primaryPinkAlpha50;
    }

    .sidebarNavItemWithLayers__text {
      color: #000;
      font-size: 16px;
      letter-spacing: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      direction: ltr;
    }

    .sidebarNavItemWithLayers__svgBox {
      width: 16px;
      height: 16px;

      .sidebarNavItemWithLayers__svg {
        width: 100%;
        height: 100%;
        fill: #000;
        transition: 0.2s transform;
      }
    }
  }

  &--active {
    .sidebarNavItemWithLayers__link--active {
      background-color: $primaryYellowAlpha50;

      .sidebarNavItemWithLayers__svgBox {
        .sidebarNavItemWithLayers__svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
